body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  .seccion-comentarios {
    max-width: 600px;
    margin: 0 auto;
  }

  .boton-comentarios {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .boton-comentarios:hover {
    background-color: #0056b3;
  }

  .formulario-comentario, .lista-comentarios {
    display: none;
    margin-top: 20px;
  }

  .formulario-comentario textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .formulario-comentario button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .formulario-comentario button:hover {
    background-color: #218838;
  }

  .lista-comentarios {
    margin-top: 20px;
  }

  .comentario {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .comentario .autor {
    font-weight: bold;
    color: #333;
  }

  .comentario .fecha {
    font-size: 0.8em;
    color: #777;
  }

  .comentario .texto {
    margin-top: 5px;
  }

  /* Boton Valoraciones */
  .rating-container {
    display: flex;
    gap: 10px;
  }
  
  .rating-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .rating-btn:hover {
    background-color: #f0f0f0;
  }
  
  .rating-btn:active {
    transform: scale(0.9);
  }
  .rating-btn.selected {
    background-color: #007bff; /* Azul */
    color: #fff; /* Texto blanco */
    border-color: #0056b3; /* Borde más oscuro */
  }